<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
    <title>LOGIN</title>
</head>
<body>
    <form>
        <h1>LOGIN</h1>

        <input type="email" placeholder="Twój email">
        <input type="password" placeholder="Twoje hasło">
        <button type="submit">LOGIN</button>
    </form>
</body>
</html>